
*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a1116;
}
.clock{
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #000;
    background: url(./image/clock.png);
    background-size: cover;
    box-shadow: 0 -16px 16px rgba(240, 237, 237, 0.05),
                inset 0 -16px 16px rgba(240, 237, 237, 0.05),
                0 16px 16px rgba(0, 0, 0, 0.4),
                inset 0 16px 16px rgba(0, 0, 0, 0.4);
    border-radius: 50%;  
}


.clock::before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 999;
}


.hour, .minute,.second{
    position: absolute;
}
.hour, .hr{
    width: 160px;
    height: 160px;
}
.minutes, .min{
    width: 200px;
    height: 200px;
}
.second, .sec{
    width: 250px;
    height: 250px;
}
.hr, .min, .sec{
    display: flex;
    justify-content: center;
}

.hr::before{
    content: '';
    width: 8px;
    height: 80px;
    background-color: rgb(14, 92, 236);
    /* background-color: rgb(123, 123, 27); */
    border-radius: 20px;
    z-index: 20;
}
.min::before{
    content: '';
    width: 5px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 21;
}
.sec::before{
    content: '';
    width: 2px;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 22;
}

